In [1]:
import pandas as pd

In [30]:
df1 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[43,5,6,77],[65,5,67,6],[654,6,44,7]],columns=["A","B","C","D"])

In [31]:
df1.head()

     A  B   C   D
0    1  2   3   4
1    5  6   7   8
2   43  5   6  77
3   65  5  67   6
4  654  6  44   7

In [32]:
df2 = pd.DataFrame([[21,2,53,34],[56,6,74,68],[43,5,63,77],[65,5,67,63],[65,6,44,7]],columns=["W","X","Y","Z"])

In [33]:
df2

    W  X   Y   Z
0  21  2  53  34
1  56  6  74  68
2  43  5  63  77
3  65  5  67  63
4  65  6  44   7

In [34]:
df3 = pd.merge(df1, df2, right_on='Z', left_on='D')

In [37]:
df3

     A  B   C   D   W  X   Y   Z
0   43  5   6  77  43  5  63  77
1  654  6  44   7  65  6  44   7